# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Logs
*.log

# SQLite
*.sqlite3

# Coverage
.coverage
htmlcov/

# Build
build/
dist/

# IDE
.idea/